.add-note-container {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 1em;
}

body {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.entry {
  border: thin solid gray;
  margin-top: 0.5em;
  padding: 0.5em;
  padding-top: 0em;
}

.header {
  display: flex;
  flex-direction: row;
}

.dates {
  text-align: right;
}

.summary {
  flex-grow: 2;
}

.error {
  color: red;
  font-weight: 600;
  text-align: center;
}

.inProcess {
  display: none;
}

.inProcess[showInProcess="true"] {
  display: block;
  color: blue;
  font-weight: 600;
}
